<!doctype html>
<html>
  <head>
    <title>CWACOR</title>
    <link rel="stylesheet" href="stylesheets/normalize.css">
    <link rel="stylesheet" href="stylesheets/main.css">

  </head>
  <body>
    <div id="main">
      <img src="assets/clouds.gif" alt="Clouds 8bit">
      <h1>Cloudy with a Chance of Rape</h1>
    </div>

    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/crafty/0.5.3/crafty-min.js"></script>
    <script src="js/game.js"></script>
    <script src="http://use.edgefonts.net/lobster-two.js"></script>
  </body>
</html>

