/* line 4, ../sass/_game.scss */
h1 {
  font-family: lobster-two, serif;
  font-size: 2.6em;
  margin: 0;
}

/* line 10, ../sass/_game.scss */
#main {
  max-width: 900px;
  text-align: center;
  margin: 0 auto;
}

/* line 16, ../sass/_game.scss */
#cr-stage {
  border: 2px solid black;
  margin: 5px auto;
  color: white;
}

/* line 17, ../sass/_game.scss */
#ent1 {
  font-family: lobster-two;
  font-size: 1.8em;
}
